/* MAIN BACKGROUND */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #2575fc,#f6d888);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE INFO PANEL */
.info-panel {
  width: 45%;
  color: rgb(0, 0, 0);
  padding: 20px;
}

.info-panel h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.info-box {
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  backdrop-filter: blur(8px);
}

.desc {
  font-size: 16px;
  opacity: 0.9;
  line-height: 1.6;
}

.container {
  width: 420px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 18px;
  padding: 28px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #000000;
}

h2 {
  text-align: center;
  margin-bottom: 22px;
  font-size: 26px;
}

label {
  font-size: 15px;
  display: block;
  margin-bottom: 6px;
}

input, select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 16px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  background: #2fa50b;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0be4b7;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #ffffff;
  padding: 25px;
  width: 360px;
  border-radius: 12px;
  text-align: center;
  color: #333;
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.details-box {
  text-align: left;
  margin-top: 12px;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
}

.close-btn {
  margin-top: 15px;
  padding: 10px 18px;
  background: #5684d3;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.heading{
    font-weight: bold;
}